.button {
    letter-spacing: 1px;
    padding: 15px 64px 18px 65px;
    border: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 5px;
}

.modifedStyleButton {
    padding: 0px;
    margin-top: 54px;
    font-size: 20px;
    width: 355px;
    height: 57px;
}

@media (max-width: 873px) {
    .button {
        padding: 9px 25px;
    }

    .modifedStyleButton {
        padding: 0px;
        margin-top: 54px;
        font-size: 20px;
        width: 355px;
        height: 57px;
    }
}

@media (max-width: 729px) {
    .button {
        padding: 11px 0px;
        width: 40%;
        font-size: 18px;
    }

    .modifedStyleButton {
        padding: 0px;
        margin-top: 54px;
        font-size: 20px;
        width: 355px;
        height: 57px;
    }
}

@media (max-width: 729px) {
    .button {
        padding: 18px 0px;
        width: 100%;
        font-size: 20px;
    }

    .modifedStyleButton {
        padding: 0px;
        margin-top: 54px;
        font-size: 18px;
        width: 355px;
        height: 57px;
    }
}

@media (max-width: 1343px) {
    .modifedStyleButton {
        width: 100%;
    }
}